@use "variables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$Font-Family;
  font-size: variables.$Font-Size-Body;
  background-color: variables.$Very-Light-Gray;
}
